@charset "utf-8";
/* CSS Document */

body {
background-color: #FFFFFF;
color: #666666;
}

header {
background-color:#000033;
color: #FFFFFF;

}

nav{
background-color: #90C7E3;

}

h2 {
color: #3399CC;
}

dt {
color: #000033;
}

.resort {
color: #5C7FA3;
}

h1 {
margin-bottom: 0;
}
body {
    background-color: #fff;
    color: #666;
		font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
header {
  background-color: #003;
  color: #fff;
	background-image: url(../images/sunset.jpg);
	background-position: right;
	background-repeat: no-repeat;
	line-height: 400%;
	text-indent: 1em;
}
nav {
  background-color: #90c7e3;
	font-weight: bold;
}
nav a {
	text-transform: none;
}
h1, h2, h3, footer {
	font-family: Georgia, "Times New Roman", serif;
}
h1 {
  margin-bottom: 0;
}
h2 {
  color: #39c;
}
ul {
/*	list-style-image: url(../images/marker.gif);*/
}
dt {
   color: #003;
}
footer {
	font-size: 75%;
	text-align: center;
	font-style: italic;
}
.resort {
  color: #5C7fa3;
	font-weight: bold;
}
#contact {
	font-style: 90%;
}
