@charset "utf-8";
/* CSS Document */

body {
background-color: #FFFFFF;
color: #666666;
}

header {
background-color:#000033;
color: #FFFFFF;

}

nav{
background-color: #90C7E3;

}

h2 {
color: #3399CC;
}

dt {
color: #000033;
}

.resort {
color: #5C7FA3;
}

h1 {
margin-bottom: 0;
}
